body {
    width: 100%;
    display: grid;
    min-height: 100vh;
    background: #fafafa;
    place-content: center;
}


.form-container {
    width: 550px;
    padding: 40px;
    margin: 0 auto;
    border-radius: 6px;
    position: relative;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
}

.form-container h1 {
    font-size: 50px;
    color: #00a9e0;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-container p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.form-container .login-form {
    text-align: start;
    margin-bottom: 20px;
}

.form-container .login-form label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
}

.form-container .login-form input {
    width: 100%;
    padding: 10px;
    display: block;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid #e4e9f1;
    transition: all .5s ease-in-out;
}

.form-container .login-form input:focus {
    outline: 1px solid #00a9e0;
}

.form-container span a {
    text-decoration: none;
    color: #00a9e0;
}