.add-product-secton {
    width: 90%;
    padding: 20px;
    display: none;
    max-width: 1200px;
}

.add-product-secton.active {
    display: block;
}

.add-product-secton .form-container {
    text-align: start;
}

.add-product-secton .form-container h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.add-product-secton .form-container .product-form .row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.add-product-secton .form-container .product-form .row .column {
    width: 48%;
}

.add-product-secton .form-container .product-form label {
    text-transform: capitalize;
}

.add-product-secton .form-container .product-form input,
.add-product-secton .form-container .product-form select,
.add-product-secton .form-container .product-form textarea {
    width: 100%;
    padding: 10px;
    display: block;
}

.add-product-secton .form-container .product-form button {
    width: 100%;
    height: 50px;
    border: none;
    padding: 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 0;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 2px;
    background: #080808;
    text-transform: uppercase;
}