*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    font-family: 'Catamaran', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    background: #fafafa;
    justify-content: center;
}

.main-content {
    width: 100%;
    min-height: 100vh;
    padding-left: 400px;
    background: #f3f3f3;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* FORM CONTAINER */
.form-container {
    width: 95%;
    padding: 40px;
    margin: 0 auto;
    max-width: 550px;
    border-radius: 6px;
    position: relative;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, .15);
}

.form-container h1 {
    font-size: 50px;
    color: #00a9e0;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-container p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* FORM CONTAINER - LOGIN FORM */
.form-container .login-form,
.form-container .register-form {
    text-align: start;
    margin-bottom: 20px;
}

.form-container .login-form label,
.form-container .register-form label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
}

.form-container .login-form input,
.form-container .register-form input {
    width: 100%;
    padding: 10px;
    display: block;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid #e4e9f1;
    transition: all .5s ease-in-out;
}

.form-container .login-form input:focus,
.form-container .register-form input:focus {
    outline: 1px solid #00a9e0;
}

.form-container .login-form button,
.form-container .register-form button {
    width: 100%;
    border: none;
    padding: 15px;
    color: #ffffff;
    font-weight: 900;
    border-radius: 3px;
    letter-spacing: 2px;
    background: #00a9e0;
    text-transform: uppercase;
}

.form-container span a {
    text-decoration: none;
    color: #00a9e0;
}