.products-section {
    width: 90%;
    padding: 20px;
    max-width: 1200px;

    display: none;
}

/* PRODUCTS HEADER */
.products-section .products-header {
    display: flex;
    align-items: center;
    margin: 100px 0 50px 0;
    justify-content: space-between;
}

.products-section .products-header .products-filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.products-section .products-header .products-filter .filter,
.products-section .products-header .products-sort .sort {
    padding: 15px;
    cursor: pointer;
    color: #080808;
    margin-right: 20px;
    letter-spacing: 2px;
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #080808;
}

/* PRODUCT CONTAINER */
.products-section .products-container .row {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
}

.products-section .products-container .product {
    width: 24%;
    position: relative;
}

.products-section .products-container .product .buttons-container {
    top: 10px;
    right: 10px;
    z-index: 2;
    position: absolute;
}

.products-section .products-container .product .buttons-container .edit-btn,
.products-section .products-container .product .buttons-container .delete-btn {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid #080808;
}

.products-section .products-container .product .buttons-container .edit-btn {
    margin-right: 10px;
}

.products-section .products-container .product .product-image {
    overflow: hidden;
}

.products-section .products-container .product .product-image img {
    width: 100%;
}

.products-section .products-container .product .product-body p {
    margin-bottom: 10px;
}

.products-section .products-container .product .product-body button {
    padding: 15px;
    cursor: pointer;
    color: #080808;
    margin-right: 20px;
    letter-spacing: 2px;
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #080808;
}