.view-product-section {

}

.view-product-section .product-container {
    display: flex;
    margin-bottom: 50px;
    align-items: flex-start;
    justify-content: space-between;
}

.view-product-section .product-container .product-image {
    width: 45%;
}

.view-product-section .product-container .product-image img {
    width: 100%;
}

.view-product-section .product-container .product-description {
    width: 50%;
    padding-right: 50px;
}

.view-product-section .product-container .product-description h2 {
    text-transform: uppercase;
}

.view-product-section .product-container .product-description h3 {
    font-weight: 100;
    margin-bottom: 30px;
}

.view-product-section .product-container .product-description p {
    font-size: 16px;
    color: #929292;
    font-weight: 300;
    margin-bottom: 30px;
}

.view-product-section .product-container .product-description .quantity-container .quantity-form {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: flex-start;
}

.view-product-section .product-container .product-description .quantity-container .quantity-form .quantity {
    padding: 15px;
    height: 50px;
    border-radius: 0;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
}

.view-product-section .product-container .product-description .quantity-container .quantity-form .cart-btn {
    height: 50px;
    border: none;
    padding: 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 0;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
    background: #080808;
    text-transform: uppercase;
}

.view-product-section .product-container .product-description h4 {
    font-size: 12px;
    color: #080808;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.view-product-section .product-info .tabs-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.view-product-section .product-info .tabs-container .tab {
    padding: 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 0;
    color: #080808;
    font-weight: 700;
    letter-spacing: 2px;
    background: #ffffff;
    text-transform: uppercase;
    border: 1px solid #080808;
}

.view-product-section .product-info .tabs-container .tab.active {
    border: none;
    padding: 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 0;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
    background: #080808;
    text-transform: uppercase;
    border: 1px solid #080808;
}

.view-product-section .product-info .tab-info {
    padding: 50px 20px;
    background: #ffffff;
}

.view-product-section .product-info .tab-info h4 {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

